.menu {
font-size: 10pt;
font-family : Verdana;
padding-left: 10px;
color: #005080;
text-decoration: none;
}

.menusmall {
font-size: 9pt;
font-family : Verdana;
color: #005080;
text-decoration: none;
}

.menusmall2 {
	FONT-WEIGHT: 300;
	FONT-SIZE: 11px;
	COLOR: #002244;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: verdana, arial, helvetica, sans serif;
	TEXT-DECORATION: none
}

.menusmall3 td{
    font-size : 8pt;
	font-family : Verdana;
	color : #333366;
}
.menusmall3 A, .menusmall3 A:visited  {
	text-decoration : none;
	color : #000033;
}


.smallnews {
	FONT-WEIGHT: 300;
	FONT-SIZE: 9px;
	COLOR: #002244;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: verdana, arial, helvetica, sans serif;
	TEXT-DECORATION: none
}
.smallnews:hover {
	FONT-WEIGHT: 300;
	FONT-SIZE: 9px;
	COLOR: #3300CC;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: verdana, arial, helvetica, sans serif;
	TEXT-DECORATION: none
}

#form    {BACKGROUND-COLOR: #003366;
	FONT-FAMILY: verdana;
	WIDTH: 75px;
	FONT-SIZE: 12pt;
	MARGIN-TOP: 0px;
	TEXT-ALIGN: center;
	border-color:black;
	}


#point_true , #point_true  a{
vertical-align: middle;
TEXT-ALIGN: center;
color: #FFFFFF;
BACKGROUND-COLOR: #055A81;
text-decoration: none;
}

#point_false{
vertical-align: middle;
TEXT-ALIGN: center;
color: #FFFFFF;
BACKGROUND-COLOR: #028AC8
}
#point_empty{
vertical-align: middle;
TEXT-ALIGN: center;
BACKGROUND-COLOR: #FEFEFE	
}
#point_today{
vertical-align: middle;
TEXT-ALIGN: center;
BACKGROUND-COLOR: #000000	
}