.menu {
	color: #2C3251;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 295;
	text-decoration: none;
}
.menu:hover {
	color: #F5FFFA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 295;
	text-decoration: none;
}
.menusmall {
	FONT-WEIGHT: 300;
	FONT-SIZE: 11px;
	COLOR: #002244;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: verdana, arial, helvetica, sans serif;
}
.menusmall:hover {
	FONT-WEIGHT: 300;
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: verdana, arial, helvetica, sans serif;
	TEXT-DECORATION: none
}
.menusmall2 {
	FONT-WEIGHT: 300;
	FONT-SIZE: 11px;
	COLOR: #002244;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: verdana, arial, helvetica, sans serif;
	TEXT-DECORATION: none
}
.menusmall2:hover {
	FONT-WEIGHT: 300;
	FONT-SIZE: 11px;
	COLOR: #3300CC;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: verdana, arial, helvetica, sans serif;
	TEXT-DECORATION: none
}
.menusmall3 {
	FONT-WEIGHT: 300;
	FONT-SIZE: 11px;
	COLOR: #9900CC;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: verdana, arial, helvetica, sans serif;
	TEXT-DECORATION: underline;
}
.menusmall3:hover {
	FONT-WEIGHT: 300;
	FONT-SIZE: 11px;
	COLOR: #3300CC;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: verdana, arial, helvetica, sans serif;
	TEXT-DECORATION: underline;
}
.smallnews {
	FONT-WEIGHT: 300;
	FONT-SIZE: 9px;
	COLOR: #002244;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: verdana, arial, helvetica, sans serif;
	TEXT-DECORATION: none
}
.smallnews:hover {
	FONT-WEIGHT: 300;
	FONT-SIZE: 9px;
	COLOR: #3300CC;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: verdana, arial, helvetica, sans serif;
	TEXT-DECORATION: none
}

#form    {BACKGROUND-COLOR: #003366;
	FONT-FAMILY: verdana;
	WIDTH: 75px;
	FONT-SIZE: 12pt;
	MARGIN-TOP: 0px;
	TEXT-ALIGN: center;
	border-color:black;}


#point_true {
vertical-align: middle;
TEXT-ALIGN: center;
BACKGROUND-COLOR: #BECCDE
}

#point_false{
vertical-align: middle;
TEXT-ALIGN: center;
BACKGROUND-COLOR: #EBF2F5
}
#point_empty{
vertical-align: middle;
TEXT-ALIGN: center;
BACKGROUND-COLOR: #000000
}