body
{
background: #E8F6F9;
}
#active a
{
	color: red;
}
#logo
{

	position: relative;
	left: 5px;
	text-align: left;
	
}
#topmenucss {
font-size: 15pt;
font-family : Verdana;
color: #015885;
padding: 5px;
}

#topmenucss a:link, #topmenucss a:visited {
color: #43859D;
text-decoration: none;
}



.mainmenucss, .mainmenucss li 
{
display: inline;
color: #070707;
 padding: 15px;
font-size: 23px;
font-family : Verdana;
}
.mainmenucss a:link, .mainmenucss a:visited
{
text-decoration: none;
color: #070707;
}
.mainmenucss a:hover
{
color: red;
}

	
#contentcss , #contentcss a, #contentcss p {

font-size: 12pt;
font-family : Verdana;
padding-left: 10px;
color: #005080;
text-decoration: none;
}

#baner a {
text-align: right;
font-size: 12pt;
font-family : Verdana;
color: #005880;
position: static;
} 

#baner , #baner p {
padding-left: 5px;
text-align: left;
font-size: 12pt;
font-family : Verdana;
color: #005880;
position: static;
}

#down_baner {
text-align: right;
font-size: 14pt;
font-family : Verdana;
color: #005880;
}
