
.days
{
vertical-align: middle;
TEXT-ALIGN: center;
color: #FFFFFF;
BACKGROUND-COLOR: #028AC8;
text-decoration: none;
}

.days a
{
color: #FFFFFF;
BACKGROUND-COLOR: #055A81;
text-decoration: none;
}

.calend {
font-size: 10pt;
font-family : Verdana;
color: #005080;
text-decoration: none;
border: 0 ;
width: 170px ;
BACKGROUND-COLOR: #E7EBEF;
}

 .today_link a, .today_link a:visited, .today_link a:active, #back a, #forward  a
{
color: #005080;
font-size: 10pt;
font-family : Verdana;
text-decoration: none;
BACKGROUND-COLOR: #E7EBEF;
}

 #back a, #forward  a
{
color: #005080;
font-size: 10pt;
font-family : Verdana;
text-decoration: none;
BACKGROUND-COLOR: #E7EBEF;
}


.today
{
BACKGROUND-COLOR: #05CA81;
}



.menu {
font-size: 13pt;
font-family : Verdana;
padding-left: 10px;
color: #005080;
text-decoration: none;
}

.menusmall, .menusmall a {
font-size: 12pt;
font-family : Verdana;
padding-left: 1px;
color: #005080;
text-decoration: none;
}

